<section class="section">
  <div class="container cart">
    <h1 class="cart__title">Carrito de compras</h1>
    <div class="cart__container">
      <% for(const item of cart.items) { %>
      <div class="cart__item">
        <div class="cart__item-image">
          <img
            src="<%= item.product.imgSrc %>"
            alt="<%= item.product.title %>"
            class="cart__item-image-content"
          />
        </div>
        <div class="cart__item-details">
          <div class="cart__item-header">
            <h2 class="cart__item-title"><%= item.product.title %></h2>
            <form method="post" action="/cart/delete-item">
              <input name="productId" value="<%= item.product.id %>" hidden />
              <button
                class="button button--sm-icon button--outline"
                aria-label="Eliminar artículo"
              >
                <img src="/images/icons/trash.svg" alt="Eliminar artículo" />
              </button>
            </form>
          </div>
          <div class="cart__item-footer">
            <p class="cart__item-price">S/ <%= item.product.price %></p>
            <div class="cart__item-quantity">
              <form 
                method="post"
                action="<%= item.quantity > 1 ? '/cart/update-item' : '/cart/delete-item' %>"
              >
                <input name="productId" value="<%= item.product.id %>" hidden />
                <% if (item.quantity > 1) { %>
                <input
                  name="quantity"
                  value="<%= item.quantity - 1 %>"
                  hidden
                />
                <% } %>
                <button
                  class="button button--sm-icon button--outline"
                  aria-label="Reducir cantidad"
                  <% // Opción que deshabilita el botón si la cantidad es 1 %>
                  <%= // item.quantity === 1 ? "disabled" : "" %>
                >
                  <img src="/images/icons/minus.svg" alt="Reducir cantidad" />
                </button>
              </form>
              <span class="cart__item-quantity-display"
                ><%= item.quantity %></span
              >
              <form method="post" action="/cart/update-item">
                <input name="productId" value="<%= item.product.id %>" hidden />
                <input
                  name="quantity"
                  value="<%= item.quantity + 1 %>"
                  hidden
                />
                <button
                  class="button button--sm-icon button--outline"
                  aria-label="Aumentar cantidad"
                >
                  <img src="/images/icons/plus.svg" alt="Aumentar cantidad" />
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="cart__total">
        <p>Total</p>
        <p>S/ <%= cart.total %></p>
      </div>
      <div class="cart__action">
        <% if(cart.items.length > 0) { %>
        <a class="button button--lg cart__action-button" href="/checkout"
          >Continuar Compra</a
        >
        <% } else { %>
        <a class="button button--lg cart__action-button" href="/polos"
          >Ir a tienda</a
        >
        <% } %>
      </div>
    </div>
  </div>
</section>
