<section class="category-header">
  <div class="container">
    <div class="category-header__content">
      <h1 class="category-header__title"><%= category.title %></h1>
      <p class="category-header__description"><%= category.description %></p>
    </div>
  </div>
</section>
<section class="products">
  <div class="container">
    <div class="products__layout">
      <form class="products__price-filter price-filter">
        <fieldset>
          <legend class="price-filter__legend">Precio</legend>
          <div class="price-filter__inputs">
            <div class="price-filter__field">
              <label for="minPrice" class="price-filter__label">Min</label>
              <input
                id="minPrice"
                type="number"
                name="minPrice"
                min="0"
                step="0.01"
              />
            </div>
            <div class="price-filter__field">
              <label for="maxPrice" class="price-filter__label">Max</label>
              <input
                id="maxPrice"
                type="number"
                name="maxPrice"
                min="0"
                step="0.01"
              />
            </div>
          </div>
        </fieldset>

        <button
          type="submit"
          class="button button--xl button--secondary price-filter__button"
        >
          Filtar Productos
        </button>
      </form>
      <div class="products__grid">
        <% for(const product of products) { %>
        <a href="/products/<%= product.id %>" class="product-card">
          <div class="product-card__container">
            <div class="product-card__image-container">
              <img
                src="<%= product.imgSrc %>"
                alt="<%= product.title %>"
                class="product-card__image"
              />
            </div>
            <div class="product-card__content">
              <h2 class="product-card__title"><%= product.title %></h2>
              <p class="product-card__description">
                <%= product.description %>
              </p>
              <p class="product-card__price">S/ <%= product.price %></p>
            </div>
          </div>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</section>
