<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title">Nuevos productos disponibles</h2>
    <p class="hero__text">
      Un pequeño lote de increíbles productos acaba de llegar.
      <br />
      Agrega tus favoritos al carrito antes que se agoten.
    </p>
    <a href="/category" class="button button--xl">Compra ahora</a>
  </div>
</section>

<section class="categories">
  <div class="container">
    <div class="categories__header">
      <h2 class="categories__title">Compra por categoría</h2>
      <p class="categories__description">
        Explora nuestra selección de productos especialmente diseñados para
        desarrolladores web.
        <br class="categories__description-break" />
        Encuentra lo que buscas navegando por nuestras categorías de polos,
        tazas, stickers y más.
      </p>
    </div>
    <div class="categories__grid">
      <% for(const category of categories) { %>
      <a href="<%= category.slug %>" class="category">
        <div class="category__image">
          <img src="<%= category.imgSrc %>" alt="<%= category.alt %>" />
        </div>
        <div>
          <h3 class="category__title"><%= category.title %></h3>
          <p class="category__description"><%= category.description %></p>
        </div>
      </a>
      <% } %>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <h2 class="features__title">Nuestra Promesa de Calidad</h2>
    <div class="features__grid">
      <div class="feature">
        <img src="/images/icons/truck.svg" alt="" class="feature__icon" />
        <h3 class="feature__title">Entrega rápida</h3>
        <p class="feature__description">
          Recibe tus productos en tiempo récord, directo a tu puerta, para que
          puedas disfrutar de ellos cuanto antes.
        </p>
      </div>

      <div class="feature">
        <img src="/images/icons/return.svg" alt="" class="feature__icon" />
        <h3 class="feature__title">Satisfacción Garantizada</h3>
        <p class="feature__description">
          Tu felicidad es nuestra prioridad. Si no estás 100% satisfecho,
          estamos aquí para ayudarte con cambios o devoluciones.
        </p>
      </div>

      <div class="feature">
        <img src="/images/icons/ribbon.svg" alt="" class="feature__icon" />
        <h3 class="feature__title">Materiales de Alta Calidad</h3>
        <p class="feature__description">
          Nos aseguramos de que todos nuestros productos estén hechos con
          materiales de la más alta calidad.
        </p>
      </div>

      <div class="feature">
        <img src="/images/icons/idea.svg" alt="" class="feature__icon" />
        <h3 class="feature__title">Diseños Exclusivos</h3>
        <p class="feature__description">
          Cada producto está diseñado pensando en los desarrolladores, con
          estilos únicos que no encontrarás en ningún otro lugar.
        </p>
      </div>
    </div>
  </div>
</section>
